*{
	margin:0 auto;
	font-family: sans-serif;
}

body{
	font-family: sans-serif;
	background-image: url(grfx/bg.png);
	background-repeat: repeat-x;
}

a{
	color: white;
	font-size: 12px;
	text-decoration: none;
}


#boven{
	margin: 0 auto;
	float: left;
}


#middeltekst{
	background-color: white;
	color: black;
	font-style: arial;
	margin: 0 auto;
	width: 760px;
	z-index: 10;
	text-align: left;
	padding: 20px;
}

#vloot2{
	float: right;
}

#vloot3{
	float: left;
}

#container {
	background-color: #A9D5D4;
	width: 100%;
	height: 324PX;
	position: relative;
}

#myTopnav{
	
	padding: 0px;
	display: inline-block;
	list-style: none;
	position: absolute;
	bottom: 40px;
	float: left;

}

header{
	width: 800px;
	height: 272px;
	margin: 0 auto;
	position: relative;
	background-image: url(Images/header.jpg);
}

#Devloot{
	left: 30px;
}


#vloot{
	top: 0px;
	left: 0px;

}

li{
float: left;
padding-left: 10px;
display: inline;
}

ul{
	text-decoration: none;
	padding: 0px;
}

p header {
	font-size: 20px;
}

.onpage{
	color: #a4cde1;
}

.vloot13{
	float: left;
	padding-right: 20px;
	padding-bottom: 20px;
	margin: 10px 10px 10px 10px;
}

.vloot14{
	float: right;
	margin: 10px 10px 10px 10px;
}

